// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#node_content {
  width: 100%;
}

ul.locale {
  float: right;
  li {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    a {
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      background: #e78f08;
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}